

/* navbar */
#top_header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

header .navbar .logo_navbar{
  height: 30px;
}

header .navbar a:not(.my_button){
  display: inline-block;
  padding: 0 1rem;
  line-height: 30px;
  color: #021845
}
header .navbar li{
  display: inline-block;
}

header .nav-bar li a:hover {
  text-decoration: none;
  color: #0061FE;

}


li, a {
  display: inline;
  text-decoration: none;
  color: black;

}
.glyphicon-chevron-down {
  margin-left: 5px;
}


/* hidden menu */
.glyphicon-menu-hamburger {
  margin: 1rem;
  color: #2285fd;
}

.jumbotron{
  background-image: url("../img/jumbo.svg");
  background-size: cover;
  color: white;

}

.jumbotron{

  color: white;
  text-align: left;
  height: 400px;

}

.jumbotron .form-jumbo{
  text-align: center;

}

.jumbotron h2{
  font-size: 40px;
}

.jumbotron p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}

.jumbotron h2{
  font-size: 50px;
  font-weight: 900;
}

/* button */
.create-account{
  background-color: #046fff;
  color: white;
}
.form-group .sign_google{
  background-color: white;
  color: black;
  border-left: 0;
  border-top: 0;
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

#partners h4{
  font-size: 2rem;
}

/* form nel jumbo */
.jumbotron .row{
  padding: 20px 0;
}

.form-jumbo{
  background-color: white;
  width: 90%;
  margin:5px 5%;
  padding: 10px 0;
  color: black;

}

.jumbotron .form-jumbo h2{
  font-size: 30px;
  font-weight: 400;
}

.jumbotron .form-jumbo h3{
  font-size: 30px;
  color: blue;
}

.jumbotron .form-jumbo .form-control{
  width: 90%;
  margin: 0 5% ;
}

.jumbotron .form-jumbo .btn-default{
  background-color: #0069ff;
  width: 90%;
  color: white;
  margin-bottom: 10px;
}

.jumbotron .form-jumbo #sign-up-google{
  background-color: white;
  border: solid 1px;

}

/* deploy */

#deploy li{
  width:80px;
  height: 40px;
  padding-left: 1rem;
  border-left: 1px solid #697795;
  display: block;
}
#deploy li >a {
  line-height: 40px;
  color: #697795;
}
#deploy .icon-box{
  height: 150px;
}

#esigned{
  background-color: #F3F5F9;
}
#designed .screen{
  width: 100%;
}
#designed h5{
  line-height: 2rem;
}
#designed i.fa {
  margin-top: 150px;
}
#designed p{
text-align: center;
margin-top: 5px;
}
.grey{
  background-color: #F3F5F9;
}
/* height */
.h_550{
  height: 500px;
}

.h_500{
  height: 500px;
}

.h_200{
  height: 200px;
}
