[class*="col-"]{
  border: 1px solid black;
  height:50px;
}


/



.jumbotron{
  background-color: blue;
  color: white;
  text-align: center;
  height: 300px;

}

#jumbotron h2{
  font-size: 40px;
}

#jumbotron p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
}

/* main */
.grey{
  background-color: #f3f5f9
}



.h_500{
  height: 500px;
}

.h_200{
  height: 200px;
}




.blue{

  background-color: blue;
}
