

/* navbar */
#top_header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

header .navbar .logo_navbar{
  height: 30px;
}

header .navbar a:not(.buttonmy){
  display: inline-block;
  padding: 0 1rem;
  line-height: 30px;
  color: #021845
}
header .navbar li{
  display: inline-block;
}

header .nav-bar li a:hover {
  text-decoration: none;
  color: #0061FE;

}

li, a {
  display: inline;
  text-decoration: none;
  color: black;

}
.glyphicon-chevron-down {
  margin-left: 5px;
}


/* hidden menu */
.glyphicon-menu-hamburger {
  margin: 1rem;
  color: #2285fd;
  height: 2rem;

}

.jumbotron{
  margin-top: 50px;
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  margin-bottom: 0;
}
.jumbotron .form{
  background-color: white;
  padding: 30px 10px;
  border-radius: 5px;

}
.jumbotron .form input{
 line-height: 3rem;
 border: 1px solid lightgrey;
 border-radius: 5px;
}
.jumbotron .form *{
  width: 100%;
  margin: 5px 0;
}

.jumbotron .term_service{
  font-size: 1.1rem;
}



/* partners */
#partners,
#partners h3{
  font-size: 1.3rem;
}

#partners{
  background-color: #F3F5F9;
}

/* fine regole sezione dei partner */

 /* deploy */

#deploy h5{
  line-height: 2rem;
}
#deploy li{
  width:80px;
  height: 40px;
  border-left: 1px solid #697795;
  display:block;
  padding-left: 1rem;

}
#deploy li > a {
  line-height: 40px;
  color: #697795;
}
#deploy .icon_box{
  height: 150px;
}




#designed,#development{
  background-color: #F3F5F9;
}

#designed h5,
#development h5{
  line-height: 2rem;
}
#designed i{
  font-size: 2rem;
}

#features .icon_box{
  margin-top: 30px;
}






#table{
  background-image: linear-gradient(#0048c6,#001e9a);
}
#table .table_riga{
  line-height: 35px;
}
#table .table_riga:not(.last){
  border-bottom: 1px solid white;
}


.test-color{
  color:white;
}

#started {
  background-image: linear-gradient(#0048c6,#001e9a);
}



footer {
  background-color:  #031c4e;
  color: #7a859d;
  font-size: 1.2rem;
}

footer .icona_ocean{
  width: 40px;
}
footer .box_link_footer .title_link_footer{
  font-size: 1.3rem;
}

footer .social-contact i{
  font-size: 2rem;
}
footer ul li a{
  line-height: 2.5rem;
  color: #7a859d;
}

.buttonmy{
  color: #046fff;
  border: 1px solid #046fff;
}
.buttonmy_create_account{
  background-color: #046fff;
  color: white;
}
.form .buttonmy_signin_google{
  background-color: white;
  color: black;
  border-left: 0;
  border-top: 0;
  border-right: 1px solid darkgrey;
  border-bottom: 1px solid darkgrey;
}

.text_white{
  color:white;
}

.pd40{
  padding-top: 40px;
  padding-bottom: 40px;
}


.color-designed{
  color: #031c4e;
}
.form-color{
  color: #046fff;
}
